In [85]:
import pandas as pd

In [86]:
fake = pd.read_csv("Fake.csv")
true = pd.read_csv("True.csv")
true['fake_news'] = 0
fake['fake_news'] = 1

true_text = true['text']
true_text = true_text.str.extractall(r"^.*? - (?P<text>.*)")
true_text = true_text.droplevel(1)
true['text'] = true_text

df = pd.concat([fake, true], axis=0)
df = df.drop(['title', 'subject', 'date'], axis=1)
df = df.dropna(axis=0)
clean_text = df.to_csv('cleaned_news.csv', index=False)

In [87]:
df

                                                    text  fake_news
0      Donald Trump just couldn t wish all Americans ...          1
1      House Intelligence Committee Chairman Devin Nu...          1
2      On Friday, it was revealed that former Milwauk...          1
3      On Christmas day, Donald Trump announced that ...          1
4      Pope Francis used his annual Christmas Day mes...          1
...                                                  ...        ...
21412  NATO allies on Tuesday welcomed President Dona...          0
21413  LexisNexis, a provider of legal, regulatory an...          0
21414  In the shadow of disused Soviet-era factories ...          0
21415  Vatican Secretary of State Cardinal Pietro Par...          0
21416  Indonesia will buy 11 Sukhoi fighter jets wort...          0

[44869 rows x 2 columns]